/* font-family: 'Cormorant Garamond', serif;
font-family: 'Maitree', serif;
font-family: 'Quicksand', sans-serif; */

/* font-family: 'Cormorant Garamond', serif;
font-family: 'Maitree', serif;
font-family: 'Quicksand', sans-serif; */

main {
  margin: 15vh auto;
  max-width: 1500px;
}

.create-form {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 2em 0 5em 0;
  margin: 0 15vw 0 15vw;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgb(179, 179, 179);
  background-color: rgb(250, 250, 250);
}

.form-title {
  margin-bottom: 1em;
}

.create-input {
  width: 30em;
  padding-left: 10px;
  backdrop-filter: blur(6px);
  font-family: 'Maitree', serif;
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgb(179, 179, 179);
}

.component-header {
  font-family: 'Quicksand', sans-serif;
  /* margin: 0 0 1em 0; */
}

.component-text {
  font-family: 'Maitree', serif;
}

.component-container {
  min-width: 700px;
  max-width: 2000px;
  margin: 0 8vw 0 8vw;
}

.grid-container {
  gap: 5em 2em;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    '. . .'
    '. . .'
    '. . .';
}

.card {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background: rgba(244, 244, 244, 1);
  border: 1px solid rgb(179, 179, 179);
  box-shadow: 0 8px 32px 0 rgba(184, 184, 184, 0.37);
}

.card-img {
  width: 100%;
  height: 100%;
}

.gen-bttn {
  /* background-color: white; */
  padding: 6px;
  color: white;
  background-color: #686868;
  border: 2px solid #686868;
}

.gen-bttn:hover {
  /* background-color: white; */
  color: black;
  background-color: whitesmoke;
}
