.create-form {
  /* background-color: red; */
  display: flex;
  text-align: center;
  align-items: center;
  padding: 5em 0 5em 0;
  margin: 0 15vw 0 15vw;
  flex-direction: column;
  justify-content: center;
  border: 3px solid #000000;

  /* max-width: 1500px; */
}
