.like-section {
  display: flex;
  margin-left: 3;
  align-items: center;
  padding: 1em 0 1em 0;
  justify-content: flex-start;
}

.like-bttn,
.like-details {
  margin: 0 0 0 1em;
  font-family: 'Quicksand', sans-serif;
}

.like-bttn {
  height: 25px;
  color: white;
  background-color: #999999;
  border: 1px solid #999999;
}

.like-bttn:hover {
  color: white;
  background-color: #ee9393;
  border: 1px solid #ee9393;
}
